
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background: #0080FF;
        
        }

        .wrapper{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 600px;
            height: 650px;
            background : #FFFAFA;
           
        }

        .calendar {
            text-align: center;
        
        }

        .header {
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        table {
            /* width: 100%;
            height:400px;
            border-collapse: collapse;
            background: #E7E5FA;
             */
                
                width: 100%;
                height:400px;
                background-color: #f2f2f2;
                padding: 10px;
                text-align: center;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 30px;

            }
    
         td {
            padding: 10px;
            font-size: 20px;
            font-weight: 700;
        }
        td, th{
            background: #E7E5FA;
        }

        td:hover {
            background-color: #9BD6F5;
        }

        th {
            background-color: #f2f2f2;
            padding: 10px;
            font-size: 30px;
            width: calc(100% / 7);
        }

        td {
            cursor: pointer;
        }
        .time-wrapper{
            font-family: 'Arial', sans-serif;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            max-width: 400px;
            margin: 5px auto;
        }
        .time-slot {
            select {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                cursor: pointer;
                text-align: center;
            }
        }

        .time-slot:hover {
            background-color: #9BD6F5;
        }

        label {
            width: 100%;
            display: block;
            margin-bottom: 5px;
            text-align: center;
            font-size: 20px;
        }

        select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            box-sizing: border-box;
            
        }

        option {
            padding: 10px;
            font-size: 16px;
            
        }

        .btn {
            position: relative;
            width: 100%;
            height: 45px;
            background: #172744 ;
            border: 2px solid #031f31;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            margin-top: 20px;
            letter-spacing: 5px;
            transition: 0.5s ease;
           
        }
        form .btn:hover {
            background: #818181;
        }