@import url('https://fonts.googleapis.com/css2?family=Poppons:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    background: #0080FF;
}

.wrapper{
    position: relative;
    width: 450px;
    height: 320px;
    background: transparent;
    border-radius: 5px;
      
}

#wrapper-register{
    position: relative;
    width: 450px;
    height:500px;
    background: #fff;
    border-radius: 5px;
      
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .form-box.login {
    left: 0;
    padding: 0 50px 0 50px;
}

.wrapper .form-box.register {
    left: 0;    
    padding: 0 50px 0 50px;
}

.form-box h2{
    font-size: 32px;
    color: #000;
    text-align: center;
}

.form-box .input-box {  
    position: relative;
    width: 100%;
    height: 40px;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #000; 
    padding-right: 23px;
    font-size: 15px;
    color: #000;
    font-weight: 550;
    transition: .5s;
   
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
    font-size: 15px;
    font-weight: 300;
    color: #000;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #000;
    margin-left: 5px;
    font-size:15px;
}

.input-box input:focus,
.input-box input:valid { 
    border-bottom-color: #000;

}
.fpass a{
    text-decoration: none;
    font-size: 14px;
    float: left;
    margin-bottom: 15px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: #172744 ;
    border: 2px solid #031f31;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 5px;
    transition: 0.5s ease;
}

.btn:hover {
    
    color:#F5AF43;
}

.btn:active {
    transform: scale(.98);
}

.form-box .logreg-link {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 10px 0 5px;
}

.logreg-link p a {
    color:  #6495ed;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
	letter-spacing: 1px;
    font-size: 15px;
   
}

.logreg-link p a:hover {
    text-decoration: underline;
}


.wrapper .form-box form .error-msg{
    margin: 5px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.wrapper form .error-msg{
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}

.wrapper form select{
    width: 50%;
    padding: 3px 0;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    background: gray;
    color: #000;
    margin-top: 20px;
}

.wrapper form select option{
    background: #D3D3D3;
    text-align: center;
    
}
.input-box input[type=number]::-webkit-inner-spin-button,
.input-box input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    
}

.form-box h1{
    font-size: 50px;
    color: #0D1847;
    font-family: sans-serif;
    margin-top: 10px;
   
}
.form-box span{
    background: #0D1847;
    color: #F5AF43;
    padding: 10px 20px;
    font-family: sans-serif;

}

a{
        position:relative;
        top: 5px;
        float: right;
        right: 5px;
        text-decoration: none;
        font-size: 20px;
        background: #000;
        height: 30px;
        width: 30px;
        border-radius:50%;
        z-index: 10;
        cursor: pointer;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;

        
    }
    a:hover{
        color:#f00;
        
        
    }


    .wrapper .form-box form .error-msg{
        margin:auto;
        display: block;
        background: crimson;
        color: #fff;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        text-align: center;
        z-index: 10;
    }
    
    .wrapper form .error-msg{
        margin: 20px 0;
        display: block;
        background: crimson;
        color: #fff;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
        text-transform: uppercase;
    }












 






